@import "variables.css";
@import "layout.css";
@import "components.css";
@import "util.css";

/*main.css - Reset rules (Normalize.css), HTML/Body tags, typography scales.*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    pointer-events:none;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-main);
}

/*Reservation*/

label{
    font-size: var(--ui);
    font-weight: bold;
    font-family: var(--font-body);
    color: var(--text-main);
}

input[type="text"], input[type="number"], input[type="date"], input[type="password"]{
    width:200px;
    height:50px;
    padding:10px 10px;
    border-radius:10px;
    border: 2px solid var(--secondary);
    color: var(--text-light);

    transition: all 0.4s ease;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="password"]:focus{
    outline: 2px solid var(--accent);
}

#mi{
    width:50px !important;
}

[data-lucide] {
    width: 20px;
    height: 20px;
    stroke-width: 2px;
    vertical-align: middle;
}